.container {
  /* Hide scrollbar for Chrome, Safari and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}
.container::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.dark input::placeholder {
  color: #cbd5e1;
  opacity: 1;
}
.light input::placeholder {
  color: #64748b;
  opacity: 1;
}